<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.mapper.EssayImgMapper">
    <select id="selectByEssayId" resultType="com.blog.entity.EssayImg">
        SELECT id, essay_id, img_url, thumbnail_url FROM blog_essay_img WHERE essay_id = #{essayId}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO blog_essay_img (essay_id, img_url, thumbnail_url)
        VALUES (#{essayId}, #{imgUrl}, #{thumbnailUrl})
    </insert>

    <delete id="deleteByEssayId">
        DELETE FROM blog_essay_img WHERE essay_id = #{essayId}
    </delete>
</mapper>
