<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.mapper.FileDelFailMapper">
    <select id="selectAll" resultType="com.blog.entity.FileDelFail">
        SELECT id, file_key, extra, create_time FROM blog_file_del_fail ORDER BY id DESC
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO blog_file_del_fail (file_key, extra) VALUES (#{fileKey}, #{extra})
    </insert>

    <delete id="deleteById">
        DELETE FROM blog_file_del_fail WHERE id = #{id}
    </delete>
</mapper>
