<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.mapper.TagMapper">
    <select id="selectAll" resultType="com.blog.entity.Tag">
        SELECT t.id, t.name, t.create_time, t.update_time,
               (SELECT COUNT(1) FROM blog_article_tag at WHERE at.tag_id = t.id) AS article_count
        FROM blog_tag t
        ORDER BY t.id DESC
    </select>

    <select id="selectById" resultType="com.blog.entity.Tag">
        SELECT id, name, create_time, update_time FROM blog_tag WHERE id = #{id}
    </select>

    <select id="countByName" resultType="int">
        SELECT COUNT(1) FROM blog_tag
        WHERE name = #{name}
        <if test="excludeId != null">
            AND id != #{excludeId}
        </if>
    </select>

    <insert id="insert">
        INSERT INTO blog_tag (id, name) VALUES (#{id}, #{name})
    </insert>

    <update id="update">
        UPDATE blog_tag SET name = #{name} WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM blog_tag WHERE id = #{id}
    </delete>
</mapper>
